body {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    background-color: black;
    color: #98e39e;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-weight: 700;
    font-size: 48px;
}

.center-element {
    text-align: center;
}

#input-txt {
    width: 70%;
    height: 13vh;
    padding: 0.5rem;
    margin: 2.5rem;
    border: 2px solid #98e39e;
    background-color: #1e1f23;
    color: white;
}

#button-translate {
    font-weight: 700;
    width: 150px;
    height: 50px;
    margin: 0.5rem;
    border: 1px solid #98e39e;
    background-color: #98e39e;
}

#output-txt {
    width: 70%;
    height: 13vh;
    border: 1px solid black;
    padding: 0.5rem;
    margin: 2.5rem;
    border: 2px solid #98e39e;
    background-color: #1e1f23;
}

footer {
    width: 100vw;
    text-align: center;
    position: fixed;
    bottom: 0px;
}